
h1 {

	font-family: 'Montserrat', sans-serif;

	font-size: 50px;

	font-weight: 700;

	letter-spacing: 1px;

	margin: 100px auto;

	color: #FFF;

}


.car{ color: blue;
}
.p { 
 color: #2f5687;
}

.h1{
	 color: #FF0000;
}
.custom {
	font-family: Courier;
	color: red;
	font-size:20px;
}
body {

	font-family: 'Roboto', sans-serif;

	text-align: center;

	background-color: #05c2f9;
	
   h1 {
	font-family: 'Montserrat', sans-serif;

	font-size: 50px;

	font-weight: 700;

	letter-spacing: 1px;

	margin: 100px auto;

	color: #FFF;

}


ul {
  position:absolute;
  top:500%;
  left:50%;
  transform: translate(-50%, -50%);
  margin:0;
  padding:0;
  display:flex;
}

ul li {
  list-style: none;
}

ul li a {
  position: relative;
  width:60px;
  height:60px;
  display:block;
  text-align:center;
  margin:0 10px;
  border-radius: 50%;
  padding: 6px;
  box-sizing: border-box;
  text-decoration:none;
  box-shadow: 0 10px 15px rgba(0,0,0,0.3);
  background: linear-gradient(0deg, #ddd, #fff);
  transition: .5s;
}

ul li a:hover {
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

ul li a .fa {
  widht: 100%;
  height:100%;
  display:block;
  background: linear-gradient(0deg, #fff, #ddd);
  border-radius: 50%;
  line-height: calc(60px - 12px);
  font-size:24px;
  color: #262626;
  transition: .5s;
}

ul li:nth-child(1) a:hover .fa {
  color: #3b5998;
}

ul li:nth-child(2) a:hover .fa {
  color: #00aced;
}

ul li:nth-child(3) a:hover .fa {
  color: #dd4b39;
}

ul li:nth-child(4) a:hover .fa {
  color: #007bb6;
}

ul li:nth-child(5) a:hover .fa {
  color: #e4405f;
}
}

.middle{

  position: absolute;

  top: 50%;

  transform: translateY(-10%);

  transform: translateX(25%);

  

  width: 100%;

  text-align: center;

}

.btn{

  display: inline-block;

  width: 70px;

  height: 70px;

  background: #f1f1f1;

  margin: 10px;

  border-radius: 30%;

  box-shadow: 0 5px 15px -5px #00000070;

  color: #3498db;

  overflow: hidden;

  position: relative;

}

.btn i{

  line-height: 90px;

  font-size: 26px;

  transition: 0.2s linear;

}

.btn:hover i{

  transform: scale(1.3);

  color: #f1f1f1;

}

.btn::before{

  content: "";

  position: absolute;

  width: 120%;

  height: 120%;

  background: #3498db;

  transform: rotate(45deg);

  left: -110%;

  top: 90%;

}

.btn:hover::before{

  animation: aaa 0.7s 1;

  top: -10%;

  left: -10%;

}

@keyframes aaa {

  0%{

    left: -110%;

    top: 90%;

  }50%{

    left: 10%;

    top: -30%;

  }100%{

    top: -10%;

    left: -10%;

  }

}



.pic {

    float: right;

    margin-top: 5px;

    margin-right: 850px;

    background-color: rgba(0, 0, 0, 0.2);

    border-top: 2px solid rgba(0, 0, 0, 0.5);

    border-bottom: 2px solid rgba(0, 0, 0, 0.5);

    border-radius: 50%; 

    height: 200px;

    width: 200px;

    text-align: center;

}

.abc {

    float: right;

    margin-top: -170px;

    margin-right: 650px;

    height: 200px;

    text-align: center;
    transform: translateY(10%);
    transform: translateX(30%);
}.icon{

	 float: right;

	 margin-top: 5px;

    margin-right: 150px;

    text-align: right;

}
.dropbtn {
  background-color: #69527E;
  color: white;
  padding: 20px;
  font-size: 20px;
  border: none;
  transform: translateY(10%);
  transform: translateX(-25%);

}

.dropdown {
  position: relative;
  display: inline-block;
  transform: translateY(10%);
  transform: translateX(-25%);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 5px 5px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #444888;}
}






</style>
</head>
